body {
    background-color: #59c6c9;
}

.container {
    width: 1120px;
    font-size: 16px;
    padding: 4rem;
    border-radius: 10px;
    text-align: center;
}

.content-body {
    background-color: #a9d5d6;
}

.style-information {
    font: 16px "Roboto";
    font-weight: 500;
}

.row {
    display: flex;
}

.table-header {
    height: 50px;

    padding: 0 10px;
    background-color: #a9d5d6;
    color: #000;
    border-radius: 5px;
}

tr {
    padding: 5px;
}

.style-description {
    border-radius: 8px;
}

a {
    padding: 20px;
    color: #fff;
    font-size: large;
    margin: 10px;
}

.btn {
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 32px;
    width: 100px;

    cursor: pointer;
    border: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: #000;
    margin-left: 5rem;
    margin-top: 1rem;
}

.table-data {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: #a9d5d6;
    font-size: 18px;
}

i:hover {
    filter: brightness(0.8);
    transition: 0.3s;
    color: #59c6c9;
}
