body {
    background-color: #42b2b8;
}

form {
    width: 600px;
    margin-top: 3rem;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}

h1 {
    font-family: 22px "Roboto";
    font-weight: 800;
}

label {
    font: 18px "Roboto";
    font-weight: 500;
    display: block;
    padding: 12px;
}

input {
    font-family: "Roboto", sans-serif;
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    font-size: 16px;
}

.display {
    display: flex;
    justify-content: center;
}

.separator {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #a8a8b3;
    margin: 32px 0;
}

.separator::before {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #a8a8b3;
    margin-right: 16px;
}

.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #a8a8b3;
    margin-left: 16px;
}

.btn {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    padding: 0 32px;

    cursor: pointer;
    border: 0;
    margin: 5px;
    display: flex;
    align-items: center;
}

.btn-submit,
.btn-clear {
    background-color: #59c6c9;
    color: #fff;
}

.btn-back {
    background-color: gray;
    color: #fff;
}

i {
    color: #fff;
}

i:hover,
.btn:hover {
    filter: brightness(0.8);
    transition: 0.8s;
}

/* CSS - animation */
form {
    overflow: hidden;
    animation: fade 400ms;
}

input#firstName:nth-child(1) {
    animation: move 800ms;
    animation-delay: 200ms;
}

input#lastName:nth-child(2) {
    animation: move 800ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

form.validate-error {
    animation: nono 250ms linear, fade paused, move paused;
    animation-iteration-count: 2;
}

@keyframes nono {
    0%,
    100% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-15%);
    }
    70% {
        transform: translateX(15%);
    }
}
