{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/user.css">

{% endblock %}

{% block title %}
    Cadastro - Novo Usuário
{% endblock %}
    
{% block content %}
    <form method="POST">
        <h1>Formulário de Cadastro</h1>
        <div>
            <label>Primeiro Nome:</label>
            <input id="firstName" name="firstName" type="text" required>
        </div>
        <div>
            <label>Ultimo Nome:</label>
            <input id="lastName" name="lastName" type="text" required>
        </div>
        <div class="separator">Envie o seu formulario</div>
        <div class="display">
            <button class="btn btn-submit" type="submit">Enviar</button>
            <button class="btn btn-clear" type="reset">Limpar</button>
            <a href="{{url_for('pages.index')}}" class="btn btn-back"><i class="fas fa-undo"></i></a>
        </div>
    </form>
{% endblock %}
